.home {
    position: static;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(50,50,50, 0.4), rgba(100,100,100, 0.3)),
                url('./cover_pic.jpg') no-repeat center;
    background-size: cover;
}

.contrast-theme-no-bg{
    color: #ffffff;
    background-color: rgba(0,0,0,0);
}

.home-text{
    font-family: 'Merienda One';
    font-size: 18px;
}

.socials a{
    margin: 8px;
}

.socials a i{
    font-size: 20px;
    color: white;
}