:root {
  --main-color: #ffffff;
  --accent-color: #999999;
  --contrast-color: #000000;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
}

.left-pane {
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
}

.right-pane{  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
}

.full-page{
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
}

.center-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.center{
  margin: 0 auto;
  text-align: center;
}

.main-theme{
  background-color: var(--main-color);
  color: var(--contrast-color);
}

.contrast-theme{
  background-color: var(--accent-color);
  color: var(--main-color);
}

.tag-main{
  position: absolute;
  top: 30px;
  left: 0px;
  margin: 0px;
  padding: 5px 10px;
  display:inline-block;
  background-color: var(--accent-color);
  color: var(--main-color);
}

.tag-contrast{
  position: absolute;
  top: 30px;
  left: 0px;
  margin: 0px;
  padding: 5px 10px;
  display:inline-block;
  background-color: var(--main-color);
  color: var(--contrast-color);
}