.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.left-pane {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

.right-pane{  
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.full-page{
  margin: 0;
  padding: 0;
  width:100%;
}

.center-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.center{
  margin: 0 auto;
  text-align: center;
}

.tag{
  position: absolute;
  top: 24px;
  left: 0px;
  margin: 0px;
  padding: 5px 10px;
  display:inline-block;
  font-size: 15px;
}
