.main-nav{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.page{
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{ 
  margin: 20px auto;
  width: 85%;
}

.align-left{
  text-align: left;
}

.space-top{
  margin-top: 12px;
}